*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
}

.header {
    background-color: black;
    border-bottom: 3px solid #32B9CD;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 120px;
}

.titulo {
    color: #32B9CD;
}

.navbar {
    display: flex;
    list-style: none;
    width: 300px;
    justify-content: space-between;
    color: #e3b062;
}

.navbar a {
    color: #e3b062;
    outline: none;
    text-decoration: none;
}

.agora {
    font-weight: bolder;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
}

.banner .container {
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.banner .container p {
    width: 120px;
    color: white;
    margin: 0;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
width: 80%;
display: flex;
justify-content: space-between;
align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #ed145b;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: #32B9CD;

}

.footer .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4 {
    margin-bottom: 0;
}

/* Aqui termina o index */

.login {
    height: 550px;
    width: 100%;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.card-login {
    background-color: #dcdcdc;
    width: 600px;
    border-radius: 10px;
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
}

.card-login h2 {
    margin-bottom: 20px;
    color: #ed145b;
    font-size: 25px;
    font-weight: bold;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #ed145b;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 12px;
    width: 100%;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 12px;
    border-color: #32B9CD;
    text-align: center;
}

.botao {
    width: 20%;
    padding: 6px;
    background-color: #ed145b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

/* Aqui termina o login */

.card.card-cadastro {
    background-color: #dcdcdc;
    width: 600px;
    border-radius: 10px;
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
}

.card-cadastro h2 {
    color: #ed145b;
    font-size: 25px;
    font-weight: bold;
}

/* Aqui termina o cadastro */